@model HotelManagement.Mvc.Models.RoomModels
<section class="content">
    <div class="row">
        <div class="col-xs-12">
            <div class="box">
                <div class="box-header">
                    <h3 class="box-title">Usuń</h3>
                </div><!-- /.box-header -->
                <div class="box-body">
                    <dl class="dl-horizontal">
                        <dt>
                            @Html.DisplayNameFor(model => model.RoomName)
                        </dt>
                        <dd>
                            @Html.DisplayFor(model => model.RoomName)
                        </dd>
                        <dt>
                            @Html.DisplayNameFor(model => model.RoomState)
                        </dt>
                        <dd>
                            @Html.DisplayFor(model => model.RoomState)
                        </dd>
                        <dt>
                            @Html.DisplayNameFor(model => model.BedSBCOunt)
                        </dt>
                        <dd>
                            @Html.DisplayFor(model => model.BedSBCOunt)
                        </dd>
                        <dt>
                            @Html.DisplayNameFor(model => model.BEdDBCount)
                        </dt>
                        <dd>
                            @Html.DisplayFor(model => model.BEdDBCount)
                        </dd>
                        <dt>
                            @Html.DisplayNameFor(model => model.AddtionalBed)
                        </dt>
                        <dd>
                            @Html.DisplayFor(model => model.AddtionalBed)
                        </dd>
                        <dt>
                            @Html.DisplayNameFor(model => model.FixedPricePerRoom)
                        </dt>
                        <dd>
                            @Html.DisplayFor(model => model.FixedPricePerRoom)
                        </dd>
                        <dt>
                            @Html.DisplayNameFor(model => model.FixedPricePerPerson)
                        </dt>
                        <dd>
                            @Html.DisplayFor(model => model.FixedPricePerPerson)
                        </dd>
                        <dt>
                            @Html.DisplayNameFor(model => model.RoomDescription)
                        </dt>
                        <dd>
                            @Html.DisplayFor(model => model.RoomDescription)
                        </dd>
                        <dt>
                            @Html.DisplayNameFor(model => model.Floor)
                        </dt>
                        <dd>
                            @Html.DisplayFor(model => model.Floor)
                        </dd>
                        <dt>
                            @Html.DisplayNameFor(model => model.RoomCapacity)
                        </dt>
                        <dd>
                            @Html.DisplayFor(model => model.RoomCapacity)
                        </dd>
                    </dl>
                    @using (Html.BeginForm())
                    {
                        @Html.AntiForgeryToken()

                        <div class="form-actions no-color">
                            <input type="submit" value="Delete" class="btn btn-danger" /> 
                            @Html.ActionLink("Powrót", "Index", null, new{@class = "btn btn-default"})
                        </div>
                    }
                </div>
            </div>
        </div>
    </div>
</section>