@using HotelManagement.Mvc.Models
@model IEnumerable<HotelManagement.Mvc.Models.RoomModels>
<section class="content">
    <div class="row">
        <div class="col-xs-12">
            <div class="box">
                <div class="box-header">
                    <h3 class="box-title">Klienci</h3>
                    <p>@Html.ActionLink("Dodaj nowy pokój", "Create")</p>
                </div><!-- /.box-header -->
                <div class="box-body">
                    <table id="tableConf" class="display table table-bordered table-striped">
                        <thead>
                            <tr>
                                <th>
                                    @Html.DisplayNameFor(model => model.RoomName)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.RoomState)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.BedSBCOunt)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.BEdDBCount)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.FixedPricePerRoom)
                                </th>
                                <th></th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (RoomModels item in Model)
                            {
                                <tr>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.RoomName)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.RoomState)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.BedSBCOunt)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.BEdDBCount)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.FixedPricePerRoom)
                                    </td>
                                    <td>
                                        @Html.ActionLink("Edit", "Edit", new { id = item.Id }) |
                                        @Html.ActionLink("Details", "Details", new { id = item.Id }) |
                                        @Html.ActionLink("Delete", "Delete", new { id = item.Id })
                                    </td>
                                </tr>
                            }
                        </tbody>
                        <tfoot>
                            <tr>
                                <th>
                                    @Html.DisplayNameFor(model => model.RoomName)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.RoomState)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.BedSBCOunt)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.BEdDBCount)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.FixedPricePerRoom)
                                </th>
                                <th></th>
                            </tr>
                        </tfoot>
                    </table>
                </div>
            </div>
        </div>
    </div>
</section>

@section scripts{
    @Scripts.Render("~/bundles/jquery.dataTables")
}