@model HotelManagement.Mvc.Models.Event

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_ManagementLayout.cshtml";
}

<h2>Details</h2>

<div>
    <h4>Event</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Price)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Price)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ReservationState)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ReservationState)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ArriveDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ArriveDate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DepatureDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DepatureDate)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
